.mt-auto{
    margin-top: auto;
}
.mb-auto{
    margin-bottom: auto;
}
.lengow-error{
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    cursor: pointer;
}
.lengow-error:hover{
    white-space: normal;
}
.bg-base {
    background-color: #fff;
    overflow: hidden;
}
